<!DOCTYPE html>
<html>
<head>
    <title>Recipe Mashup</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <!-- <h5>CITL Project on Web Mashup</h5>
    <h5>Name:Shubham More</h5>
    <h5>UID: 2021300079</h5> -->
    <h1>Welcome to Recipe Mashup</h1>
    <h2>Choose a mashup</h2>
    <button class="button" onclick="redirectTo('/backend-mashup')">Backend Mashup</button>
    <button class="button" onclick="redirectTo('/frontend-mashup')">Frontend Mashup</button>

    <script>
        function redirectTo(url) {
            window.location.href = url;
        }
    </script>
</body>
</html>
